streamlit #Web app framework for data science and machine learning

#utility libraries
numpy
pandas
matplotlib

#FACE recognition libraries
scikit-learn
dlib-bin # Binary distribution of dlib

git+https://github.com/ageitgey/face_recognition_models
setuptools>=77,<82

#database libraries
supabase #Python client for Supabase
bcrypt #Password hashing library

segno  # Qr code generator
pillow # Image processing library



webrtcvad #Voice activity detection library
librosa #Audio processing library
resemblyzer #Voice cloning library